@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.hero-bg {
    background: url('../static/images/bg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: 100;
    margin: 1em;
}
.top {
    padding: 13em 0;
}
h1 {
    font-size: 2.5rem;
}
h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 2.5em;
    position: relative;
    z-index: 1;
}
h1 span::before {
    content: ' ' ;
    position: absolute;
    width: 3em;
    background: rgba(114, 1, 1, 0.849);
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}
input[type=text] {
    box-align: center;
    border: 1px solid #707070;
    width: 300%;
    box-sizing: border-box;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.submitbtn {
    margin: 1m;
    margin-top: -1em;
    margin-left: 7em;
    background-color: #f89104;
    border: none;
    width: 25%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    margin-bottom: 1em;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer
}
.table {
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-family: 'Nunito Sans', sans-serif;
    display: block;
}
.table .heading {
    font-size: xx-large;
    font-family: 'EB Garamond', serif;
}
img {
    margin-top: 1.2em;
    width: 75%;
    height: 50%;
}
input[type=button]:hover {
    background-color: #cc7904;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

@media (min-width: 730px) {
    .slots {
        display: flex;
    }
    .align-left {
        margin-right: 5em;
    }
    .align-right {
        margin-left: 10em;
    }
    img {
        margin-left: 5em;
    }
}
/*.cust-flex{
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column !important;
}
.text-align {
    margin-top: 1.2em;
}*/
.text-align {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 15em;
    font-family: 'Montserrat', sans-serif;
}
.text-align p {
    margin-top: 9em;
}

.hero-bg h1{

    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.heading {
    animation: fadeIn 1s forwards;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}