<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Table</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[6] }}</td>
        </tr>
        <tr>
            <td>{{ data[1] }}</td>
            <td>{{ data[6] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[2] }}</td>
            <td align="middle">Free</td>
        </tr>
        <tr>
            <td align="middle">{{ data[2] }}</td>
            <td>{{ data[0] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[7] }}</td>
        </tr>
        <tr>
            <td>{{ data[3] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[6] }}</td>
            <td>{{ data[4] }}</td>
            <td>Free</td>
        </tr>
        <tr>
            <td>{{ data[4] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[0] }}</td>
            <td>{{ data[5] }}</td>
            <td>Free</td>
        </tr>
    </table>
</body>
</html>